<!DOCTYPE html> 
<html xmlns:th="http://www.thymeleaf.org"> 
    <head> 
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />         
        <title>Climbing</title> 
        
        <link rel='stylesheet' th:href="@{/webjars/bootstrap/2.3.1/css/bootstrap.min.css}"/>
        <script type="text/javascript" th:href="@{/webjars/jquery/1.9.0/jquery.js}"/>
        <script type="text/javascript" th:href="@{/webjars/bootstrap/2.3.1/js/bootstrap.min.js}"/>
         
    </head> 
    <body> 
    
    <div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">Requira</a>
    <ul class="nav">
      <li><a href="#">Dashboard</a></li>
      <li class="active"><a href="#">Features</a></li>
      <li><a href="#">Requirements</a></li>
    </ul>
  </div>
  </div>
  
  <div class="container-fluid">
 
	<div class="row-fluid">
	
	
  </div>
  </div>
  
    </body>
    
    	
    	
    
</html>